$white-text: #f2f0f7;
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #76707d;
}

::-webkit-scrollbar-thumb {
    background: #4a4354;
  }

.body_option {
    background-image: url('/img/philip-oroni-bk.jpg');
    background-size: cover;
    background-attachment: fixed;
    // overflow: hidden; 
}

main {
    background-color: rgba(14, 24, 56, 0.467);
    width: 100%;
}

.header-container {
    /* Vos styles existants ici */
    background-color: rgb(41, 37, 45);
    width: 100%;
    height: 7%;
    color: $white-text;
    padding: 0 3%;
    // text-align: start;
    position: absolute;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
        .pink-font {
            color: #f98fff;
        }

    .header_link_container {
        display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    }

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);

    .header-txt {
        // font-weight: bold;
        // width: 20%;
        margin: 0;
        overflow: hidden;
        width: 33%;
    }
    
    .header_nav {
        display: flex;
        align-items: center;
        height: 100%;
        width: 70%;
    }
    
    .header_link {
        justify-content: space-between;
    
        .link_site {
            text-decoration: none;
            color: $white-text;
            // margin: 0 10px 0 10px;
            height: 100%;
            width: 30%;
            justify-content: center;
            align-items: center;
            display: flex;
        }
    }
    
    .link_site:hover {
        // background-color: #260d3e61;
        color: #ddb3ff;
    }
    
    .header_social{
        justify-content: flex-end;
        .header_social_link {
            color: $white-text;
            font-size: 30px;
            margin-left: 15px;

            &:hover {
                color: #ddb3ff;
            }
        }
    }
}

.lighter {
    font-weight: 100;
    margin-right: 25%;
    margin-left: 30%;
}

// @keyframes scrollText {
//     0% {
//         transform: translateX(-110%);
//     }
//     100% {
//         transform: translateX(110%);
//     }
// }

.presentation {
    
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: $white-text;   

    .acceuil-presentation {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        &__texte {
            margin-bottom:5%;
    
            p {
                font-size: 21px;
                margin-bottom: 5px;
            }
        }
        
        &__CV {
            display: flex;
            width: 10em;
            height: 3em;
            border: solid white 2px;
            border-radius: 10px;
            text-align: center;
            color: $white-text;
            justify-content: center;
            align-items: center;
            text-decoration: none ;
            
    
            &:hover{
                border: solid white 3px;
                color: black;
                background-color: white;
                transition: .5s;
            }
        }
    
        .link-smedia {
            margin-top: 7%;
            width: 80%;
            display: flex;
            justify-content:space-evenly;
            flex-direction: row;
            
    
            .linklogo{
                font-size: 50px;
                width: 50px;
                color: $white-text;
            &:hover {
                color: #fefefe7e;
            }
            }
        }
    }
}

.aboutme {
    display: flex;
    background-color: rgb(41, 37, 45);
    // width: 90%;
    // border-radius: 20px;
    padding: 5%;
    color: $white-text;
    margin: auto;
    margin-bottom: 10%;
    flex-direction: column;

    .aboutme-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around ;
        margin-top: 5%;
        align-items: center;

        .aboutme-content-txt {
            width: 60%;
        }
        .profil {
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
    
            .profil_container {
            width: 300px;
            height: 300px;
            border-radius: 100%;
            background-color: #ddb3ff;
            overflow: hidden;
            border: 6px solid;
    
                .profil_img{
                    width: 300px;
                }
            }
        }

        &-txt {
            font-size: 1.3em;
            font-weight: 100;
        }

    }
}

.stack {
    color: $white-text;
    background-color: rgb(41, 37, 45);
    padding: 5%;

    margin-bottom: 5%;

    h2 {
        margin-bottom: 5%;
    }
    // display: none;
    .stack-content {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .stacks{
            padding: 5%;
            width: 40%;
            height: 100%;
            display: flex;
            text-align: center;
            flex-direction: column;
            justify-content: center;

            border: white solid 2px;
            border-radius: 15px;

            h3 {
                margin-bottom:  20%;
            }
        }

        // .back-stack{
        //     width: 50%;
        //     height: 100%;
        //     display: flex;
        //     text-align: center;
        //     flex-direction: column;
        //     justify-content: center;
        //     align-items: center;
        // }
    }

    .stack-grid {
        list-style: none;
        display: grid;
        // grid:flow;
        margin: 0;
        padding: 0;

        row-gap: 15%;
        column-gap: 15%;
        

        font-size: 50px;

        i {
            font-size: 70px;
        }

        i:hover,.logo_txt:hover {
            color: #f98fff;
        }
    }

    .fstack-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .bstack-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

.projet {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;

    h2 {
        margin-bottom: 5%;

        color: #ffffff;
    }
    .project_grid {
        // width: 100%;

        display: grid;

        // row-gap: 10px;
        column-gap: 50px;
        row-gap: 50px;
        grid-template-columns: repeat(3, 450px);

    }
    .project_container {
        display: flex;
        flex-direction: column;

        padding: 10px;
        border-radius: 15px;

        width: 450px;

        align-items: center;

        background-color: #b2adbe;
        .project_img {
            width: 430px;
            height: 300px;

            object-fit: cover;
            border-radius: 5px;

        }
        .project_title {
            font-size: 25px;
        }
        .project_txt {

        }
        .project_link {

            i {
                font-size: 25px;
            }

        }
    }
}

@media screen and (max-width: 880px) {

    .header-container {
        /* Vos styles existants ici */
        
        height: 10%;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .header-txt {
            margin: 0;
            overflow: hidden;
            width: 100%;
        }

        .header_link_container {
           display: none;
        }
    }

    .presentation{
        flex-direction: column-reverse;    
        margin-top: 7%;
    }

    .acceuil_img {
        margin-right: 30px;
        .img_container {
        width: 300px;
        height: 300px;
        border-radius: 100%;
        background-color: #ddb3ff;
        overflow: hidden;
        border: 6px solid;

            .profil_img{
                width: 300px;
            }
        }
    }

    .aboutme {
    
        .aboutme-content {
            flex-direction: column;
    
            .profil {
        
                .profil_container {
        
                    .profil_img{
                    }
                }
            }
    
            &-txt {
            }
    
        }
    }

    .stack-content {
        flex-direction: column;

       
    }

    #stacks{
        width: 70%;
        height: 40%;


        h3 {
            margin-bottom:  10%;
        }

        margin-bottom: 10%;

        i {
            font-size: 50px;
            
        }
        .logo_txt {
            font-size: 30px;
            
        }
    }

    #project_grid {
        
        grid-template-columns: 450px;

    }
  }